form{
    margin: 5% 38%;
    background: paleturquoise;
}
button{
    width: 88%;
    margin-bottom: 24px;
}

h1{
    margin-bottom: 30px;
}

label{
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
}