<div class="d-flex justify-content-center">
  <form #RegisterForm="ngForm" (submit)="RegisterForm.valid && onSubmit(RegisterForm)" class="py-2">
    <h3 class="text-center">Đăng ký tài khoản</h3>
    <div class="form-group mx-3">
      <label for="email">Email</label>
      <input type="text" #Email="ngModel" [(ngModel)]="email" name="email" placeholder="example@gmail.com..." class="form-control"
      required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :RegisterForm.submitted && !Email.valid }">
      <div *ngIf="RegisterForm.submitted && Email.errors">
        <label *ngIf="Email.errors.required" class="validation-message err">This field is required.</label>
        <label *ngIf="Email.errors.pattern" class="validation-message err">Invalid email address.</label>
      </div>
    </div>
    <div class="form-group mx-3">
      <label for="userName">Tên đăng nhập</label>
      <input type="text" #userName="ngModel" [(ngModel)]="UserName" class="form-control" name="UserName"
      required [ngClass]="{'invalid-textbox': RegisterForm.submitted && !userName.valid}">
      <div *ngIf="RegisterForm.submitted && !userName.valid">
        <label class="validation-message err"> This field is required.</label>
      </div>
    </div>
    <div class="form-group mx-3">
      <label for="noi_ct">Nơi công tác</label>
      <input type="text" #Noi_ct="ngModel" [(ngModel)]="noi_ct" name="noi_ct" class="form-control"
      required [ngClass]="{'invalid-textbox' :RegisterForm.submitted && !Noi_ct.valid }">
      <div *ngIf="RegisterForm.submitted && !Noi_ct.valid">
        <label class="validation-message err">This field is required.</label>
      </div>
    </div>
    <div class="form-group mx-3">
      <label for="sdt">Số điện thoại</label>
      <input type="text" #Sdt="ngModel" [(ngModel)]="sdt" name="sdt" class="form-control"
      required [ngClass]="{'invalid-textbox' :RegisterForm.submitted && !Sdt.valid }">
      <div *ngIf="RegisterForm.submitted && !Sdt.valid">
        <label class="validation-message err">This field is required.</label>
      </div>
    </div>
    <div class="form-group mx-3">
      <label for="password">Mật khẩu</label>
      <input type="password" #password="ngModel" [(ngModel)]="Password" class="form-control" name="Password" placeholder="*****"
      minlength="4" required [ngClass]="{'invalid-textbox': RegisterForm.submitted && !password.valid}">
      <div *ngIf="RegisterForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message err"> This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message err"> Enter atleast 4 characters.</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mx-3">Đăng ký</button>
    <!-- Successfull message -->
    <div class="alert bg-success text-center text-white" role="alert" *ngIf='showSuccessMessage'>
      Đăng ký thành công
    </div>
    <!-- Error message -->
    <div class="alert bg-danger text-center text-white w-100%" role="alert" *ngIf='serverErrorMessage'>
      {{serverErrorMessage}}
    </div>
    <div class="text-center mb-2">
      <a routerLink="/login">Nhấn vào đây để đăng nhập.</a>
    </div>
  </form>
</div>

