<h1 class="text-center mb-5">Danh sách từ đã duyệt</h1>
<input class="form-control search" type="search" placeholder="Search từ tiếng Anh" aria-label="Search" (keyup)="onKey($event)">
<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Từ tiếng Anh</th>
        <th scope="col">Nghĩa tiếng Anh</th>
        <th scope="col">Nghĩa tiếng Việt</th>
        <th scope="col">Ảnh minh họa</th>
        <th scope="col">Các từ liên quan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of wordListFilter | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
        <th scope="row">{{i+1}}</th> 
        <td>{{word.tu_en}} ({{word.tu_loai}}) {{word.phien_am}}</td>
        <td>{{word.nghia_en}}</td>
        <td>{{word.nghia_vi}}</td> 
        <td ><div *ngIf="word.anh"><img src="{{word.anh}}"></div></td>
        <td><p *ngFor="let tu_lq of word.ds_tlq">{{tu_lq.tu_en}} ({{tu_lq.tu_loai}}) {{tu_lq.phien_am}} {{tu_lq.nghia_vi}}</p></td>
      </tr>
    </tbody>
  </table> 
</div>
   
    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

