table{
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 5%;
}

.text-right button{
    margin-right: 10%;
}
.col-4{
    padding: 0;
}

img{
    width: 150px;
    height: 100px;
    border: 1px solid gray;
}

#search{
    width: 40%;
    margin-left: 30%;
}
