img{
    display: block;
    margin-left: 25%!important;
    width: 60%;
    height: auto;
    border: 1px solid gray;
    margin:5%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 768px) and  (max-width: 1200px){
    .container-fluid{
        padding-left: 48px;
        margin-left: 48px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .col-md-6{
        padding:0;
    }
}

@media (max-width: 575.98px) { 
    .col-md-6{
        position: relative;
        width: 100%;
        padding:0!important;

    }

    /* .col-md-5{
        position: relative;
        width: 100%;
    } */
}

/* .col-md-4 {
    flex: 0 0 40%;
    max-width: 40%;
} */




