<div class="nav justify-content-center mt-2">
    <form #formSearch="ngForm"class="form-inline my-2 my-lg-0 nav justify-content-center w-100" >
        <input class="form-control mr-sm-2 col-7" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="wordSearch">
        <a class="btn btn-primary my-2 my-sm-0" routerLink='/home/search' (click)="searchWord(wordSearch)">Search</a>
    </form>
</div>
<div class="nav pl-5 mt-5 container-fluid" *ngFor="let word of wordListFilter">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" >
            <h4 class="text-primary">{{word.tu_en}} </h4> 
            <p class="mb-2 ml-3"><strong>- Từ loại:</strong> {{word.tu_loai}}</p>
            <a class="text-prinary ml-3" (click)="speak(word.tu_en)">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
              </svg> <strong>Phát âm</strong>
            </a>
            <p class="mb-1 ml-3"><strong>- Phiên âm:</strong> {{word.phien_am}}</p>
        </li>
        <li class="list-group-item">
            <h5><strong>Dịch nghĩa</strong></h5>
            <h6 class="mt-4 ml-3"><strong>- Nghĩa tiếng Việt</strong> </h6>
            <p class="ml-5">{{word.nghia_vi}}</p>
            <h6 class="ml-3"><strong>- Nghĩa tiếng Anh</strong></h6>
            <p class="ml-5">{{word.nghia_en}}</p>
        </li>
        
        <li class="list-group-item">
            <h5 class="mb-3"><strong>Các từ liên quan</strong></h5>
            <div>
                <a class="text-info ml-3 d-block" *ngFor="let tu_lq of word.ds_tlq" routerLink='/home/detail' (click)="getWordId(tu_lq._id)">
                    - {{tu_lq.tu_en}}
                 </a>
            </div>
        </li>
    </ul>
    <div class="col-4 mb-1 ml-3">
            <h5>Ảnh minh họa</h5>
            <div *ngIf="word.anh">
                <img src="{{word.anh}}" class="mx-3 ml-3">
            </div>
    </div>
</div> 
