form{
    width: 40%;
    height: auto;
    margin-left: 30%;
    padding-top: 10px;
    margin-bottom: 8px;
    border: 1px solid rgb(197, 193, 193);
}


img{
    width: 250px;
    height: 150px;
    border: 1px solid rgb(197, 193, 193);
    margin-left: 5%;
}

.text-center button{
    width: 25%;
}

.validation-message{
    color: red;
    text-align: center;
    width: 100%;
    margin: 5px;
}

input,select{
    border: 1px solid gainsboro;
    padding: 0;
}

.card{
    position: fixed;
    right: 5px;
    bottom: 50%;
    z-index: 1;
    border: 1px solid red;
}

.form-control {
    height:auto;
}

@media only screen and (max-width: 540px) {
    form {
        width: 100%;
        margin-left: 0;
    }

    .col-6{
       max-width: 100%;
    }
}