form{
    width: 40%;
    height: auto;
    margin-left: 30%;
    padding-top: 10px;
    margin-bottom: 8px;
    border: 1px solid rgb(197, 193, 193);
}

button{
    margin: 8px 37.5%;
}

label.err{
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 540px) {
    form {
        width: 100%;
        margin-left: 0;
    }
}