/* table{
    width: 5%;
    height: auto;
} */

 
.text-right button{
    margin-right: 10%;
}
.col-4{
    padding: 0;
}

img{
    width: 100px;
    height: 60px;
    border: 1px solid gray;
}



table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}

table th,
table td {
    padding: 10px;
}



@media only screen and (max-width: 540px) {
    div {
        width: 100%;
        overflow-x: auto;
    }
}