form{
    width: 50%;
    height: auto;
    margin-top: 0px;
    margin-left: 25%;
    padding-top: 10px;
    border: 1px solid rgb(197, 193, 193);
}


img{
    width: 250px;
    height: 150px;
    border: 1px solid rgb(197, 193, 193);
    margin-left: 5%;
}

.text-center button{
    width: 25%;
}

.validation-message{
    color: red;
    text-align: center;
    width: 100%;
    margin: 5px;
}

input,select{
    border: 1px solid gainsboro;
    padding: 0;
    padding-left: 5px;
}


.form-control {
    height:auto;
}

