<div class="nav justify-content-center mt-2">
  <form #formSearch="ngForm"class="form-inline my-2 my-lg-0 nav justify-content-center w-100" >
    <input class="form-control mr-sm-2 col-7" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="wordSearch" (keyup)="onKey($event)">
    <a class="btn btn-primary my-2 my-sm-0" (click)="searchW(wordSearch)">Search</a>
  </form>
</div>
<div class="my-3 container-fluid">
  <button class="bg-info btn mx-1 " *ngFor="let a of abc" type="button" (click)="searchA_Z(a)">{{a}}</button>
</div>
<div class="justify-content-center nav mt-5">
    <table class="table w-75">
      <thead>
        <tr class="table-info">
          <th scope="col">Từ tiếng Anh</th>
          <th scope="col">Phiên âm</th>
          <th scope="col">Từ loại</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of wordListFilter| paginate: { itemsPerPage: 5, currentPage: p }; index as i">
          <td><a class="text-prinary" (click)="getWordId(word._id)">{{word.tu_en}}</a></td>
          <td>{{word.phien_am}}</td>
          <td>{{word.tu_loai}}</td>
      </tr>
      </tbody>
    </table>
</div>
<pagination-controls (pageChange)="p = $event" class="float-right mr-5"></pagination-controls>