form{
    
    padding: 2px;
    height: 45px;
}

img{
    display: block;
    margin: 10px;
    width: 15%;
    height: auto;
}

.t{
    border: 1px solid #20c997;
}

a{
    text-decoration: none;
    cursor: pointer;
}