<h1 class="text-center mb-5">Danh sách cần duyệt</h1>
<input class="form-control search my-3" type="search từ tiếng Anh" placeholder="Search" aria-label="Search" (keyup)="onKey($event)">
  <form (ngSubmit)="updateWordList()">
    <input type="checkbox" class="mx-2 ml-5" name="checkbox_all" [(ngModel)]="isSelected" (change)="checkUncheckAll()">
    <label for="checkbox_all">Chọn tất cả:</label>
    <select class="mx-2" name="statusChecked" [(ngModel)]="status">
      <option value="Đã duyệt">Duyệt</option>
      <option value="Từ chối">Từ chối</option>
    </select>
    <button type="submit" class="btn btn-primary mx-2" [disabled]="isDisableBtn">Thực hiện</button>
    <div>
      <table class="table">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">STT</th>
            <th scope="col">Từ tiếng Anh</th>
            <th scope="col">Nghĩa tiếng Anh</th>
            <th scope="col">Nghĩa tiếng Việt</th>
            <th scope="col">Ảnh minh họa</th>
            <th scope="col">Các từ liên quan</th>
            <th scope="col">Tác giả</th>
            <th scope="col" colspan="2" class="text-center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of wordListFilter| paginate: { itemsPerPage: 5, currentPage: p }; index as i">
            <td><input type="checkbox" name="itemCheckbox" [(ngModel)]="word.isChecked" (change)="isAllSelected()"></td>
            <th scope="row">{{i+1}}</th>
            <td>{{word.tu_en}} ({{word.tu_loai}}) {{word.phien_am}}</td>
            <td>{{word.nghia_en}}</td>
            <td>{{word.nghia_vi}}</td>
            <td ><div *ngIf="word.anh"><img src="{{word.anh}}"></div></td>
            <td><p *ngFor="let tu_lq of word.ds_tlq">{{tu_lq.tu_en}} ({{tu_lq.tu_loai}}) {{tu_lq.phien_am}} {{tu_lq.nghia_vi}}</p></td>
            <td>{{word.nguoi_tao}}</td>
            <td><button type="button" class="btn btn-primary " (click)="updateWordStatus(word._id,'Đã duyệt')">Duyệt</button></td>
            <td><button type="button" class="btn btn-danger " (click)="commentWord(word._id)">Từ chối</button></td>
          </tr>
        </tbody>
      </table>
    </div>  
  </form>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
