table{
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 5%;
}
.action{
    margin-left: 5%;
}

select{
    border: 1px solid black;
}
  
@media only screen and (max-width: 540px) {
    div {
        width: 100%;
        overflow-x: auto;
    }
}