/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;
     font: inherit;
    vertical-align: baseline; */
}


/* reset CSS */
.swal2-popup{
    justify-content:initial !important;
}

body {
    font-family: "Lato", sans-serif;
}

body {
    line-height: 1.42857143;
    font-family: Bookman, Tahoma, Verdana;
    /* font-family: "Montserrat-Regular", Arial, "Open Sans", Helvetica, Arial, sans-serif; */
    color: #1d2129;
    font-size: 14px;
    background-size: cover;
    min-width: 1200px;
    margin: 0;
    padding: 0 !important;
}

.main-wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(233, 235, 238);
}

.navigation-bar {
    max-width: 86%;
    line-height: 1.42857143;
    color: #1d2129;
    font-size: 17px;
    position: sticky;
    left: 200px;
    top: 0;
    z-index: 3;
    justify-content: space-between;
}

/* .side-nav svg{
    padding-right: 10px;
    background: #343a40;
    color: rgba(255, 255, 255, 0.74);
    width: 30px;
    height: 30px;
    padding: 10px;
    display: inline;
} */
.info {
    display: inline;
    float: right;
    text-align: right;
}
.card svg{
    display: inline;
}
.icon svg{
    width: 70px;
    height: 70px;
    display: inline;
}
.logo {
    width: 60px;
    height: 60px;
    display: inline;
}

.actionhotline {
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 30px;
    padding: 5px 15px;
    border: white solid 1px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}



.actionhotline i {
    padding-right: 5px;
}


/* seacrh */


.user {
    background: #343a40;
    color: rgba(255, 255, 255, 0.74);
    width: 180px;
    height: 160px;
    text-align: center;
}
/* .user svg{
    display: inline;
} */
.user p{
    font-size: 20px;
}

.sidenav {
    top:0px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background: #343a40;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */
.dropdown-menu a{
    text-align: center;
}
.dropdown-menu a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(255,255,255,.5);
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.navbar-nav .dropdown-menu {
    position:absolute!important;
}

.dropdown-btn{
    padding: 0px;
    text-align: left;
}
.dropdown-btn button{
    width: 130px;
    margin-bottom: 10px;
    text-align: left;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: none;
}
.dropdown-btn svg{
    background: #343a40;
    color: rgba(255, 255, 255, 0.74);
    width: 50px;
    height: 50px;
    padding: 10px;
}


.dropdown-btn .dropdown-menu{
    position: static !important;
    transform:none !important;
    display: none;
    background-color: #343a40;
    padding-left: 8px;
    border: none;
}

.dropdown-btn button:focus {outline:none !important}
.navbar-nav button:focus {outline:none !important}
.card-body a:hover{text-decoration: none}
/* On mouse-over */

.sidenav a:hover,.dropdown-menu a:hover,
.dropdown-btn:hover {
    color: white;
    text-decoration: none;
    background: none;
}


/* Main content */

.main {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 0px;
    /* Same as the width of the sidenav */
    font-size: 16px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#search{
    width: 65%;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.page-container {
    box-sizing: border-box;
    color: rgb(29, 33, 41);
    display: inline-block;
    font-size: 14px;
    height: 4583.17px;
    line-height: 20px;
    min-width: 1000px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: 1000px;
}

.page-wrapper {
    box-sizing: border-box;
    color: rgb(29, 33, 41);
    display: block;
    font-size: 16px;
    height: 702px;
    line-height: 20px;
    margin: 0;
    max-width: 1147px;
    width: 968px;
}

.btn-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    padding: inherit;
    background: #3e64ff;
    font-weight: bold;
    border-color: #3e64ff;
    color: white;
}

input,
textarea,
select {
    border-radius: 5px;
}

td button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/* table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 100%;
    margin: 20 auto;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid darkgray;
}

td {
    border-top: 1px solid rgb(172, 172, 172);
    color: rgb(105, 105, 105);
    text-align: left;
    padding: 8px;
}

thead {
    padding: 5px 15px;
    font-size: 16px;
}

th {
    height: 50px;
    width: auto;
    border-top: 1px solid #dddddd;
    color: rgb(80, 80, 80);
    padding: 8px;
} */
/* Form box */

.block h2 {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
}

.modal-content svg {
    width: 120px;
    display: block;
    margin: 40px auto 30px;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }

  .path.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  
  .path.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
  .path.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }

  .modal-content p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  
  p.error {
      color: red;
      margin-bottom: 10px;
    }

  p.success {
      color: green;
      margin-bottom: 10px;
    }
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  